@page "/"
@using System.Security.Claims

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>
<div>Welcome to dymaptic's Jackson Carter ChatBot</div>
<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <h3>Hello, @User.Identity.Name!</h3>

            <p>Our chat bot works best with the ArcGIS plugin, but you can still access it through this site. Click on <a href="dychatroom">Jackson Carter Chat</a> to get started. </p>

        </Authorized>
        <NotAuthorized>
            <br />
            <p>This is the home of Jackson Carter. We are currently in a closed beta. If you would like to join please <a href="https://jacksoncarterbeta.dymaptic.com/">contact us</a>!</p>
        </NotAuthorized>
    </AuthorizeView>

</CascadingAuthenticationState>
@code {

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        User = authState.User;
    }

    public ClaimsPrincipal User { get; set; } = null!;
}